﻿@{
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<!DOCTYPE html>
<html>
<head>
    <title>Agenda</title>
</head>
<body>
    <h2>Agenda. </h2>
    <h3> Aqui adicionaremos um novo contato, basta preencher os dados.</h3>

    <form>
        Nome do Contato: <br />
        <input type="text" name="nmContato" /> <br /><br />
        Tipo de Telefone:<br />
        <select name="nmTipoTelefone">
            <option value="Fixo">Fixo</option>
            <option value="Movel">Móvel</option>
            <option value="Comercial">Comercial</option>
        </select><br /><br />
        DDD : <br />
        <input type="number" name="dddTelefone" /><br />
        Número: <br />
        <input type="tel" name="nrTelefone" /> <br />
    </form>

    <a href="~/Agenda/Lista">Lista de contatos </a>


</body>
</html>

