﻿
@model List<Agenda.DAO.AgendaDAO>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agenda</h2>
<hr />
<div id="nvAgenda">
    Nova Agenda
</div>
<body>
   

    <table >
        <tr></tr>
        <thead>Agenda</thead>
        <tbody>
            @foreach (var contact in Model)
            {<td>@contact.nmAgenda</td>}
        </tbody>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
    </table>

</body>
